<div class="row" style="width: 600px">
    <div class="col-md-12">
        <Form>
            <div class="row">
                <FormInputText @bind-Text="item.EPC" Title="SKU" Required="true" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.SKU" Title="SKU" Required="true" Size="6"></FormInputText>

                <InputSelect @bind-Value="item.ModelId" TValue="int">
                    @foreach (var model in models)
                    {
                        <option value="@model.MODEL_ID">@model.MODEL_NAME</option>
                    }
                </InputSelect>

                <InputSelect @bind-Value="item.ProductStatus" TValue="ProductStatus">
                    <option value="@ProductStatus.Available">@ProductStatus.Available.GetDescription()</option>
                    <option value="@ProductStatus.Unavailable">@ProductStatus.Unavailable.GetDescription()</option>
                </InputSelect>

                <InputSelect @bind-Value="item.LR" TValue="ProductSide">
                    <option value="@ProductSide.Left">@ProductSide.Left.GetDescription()</option>
                    <option value="@ProductSide.Right">@ProductSide.Right.GetDescription()</option>
                </InputSelect>

                <FormInputText @bind-Text="item.Location" Title="Location" Required="true" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.Season" Title="Season" Required="true" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.Stage" Title="Stage" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.DevStyleName" Title="Dev style name" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.ColorWay" Title="Color way" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.Size" Title="Size" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.Category" Title="Category" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.POC" Title="POC" Size="12"></FormInputText>
                <FormInputText @bind-Text="item.Remarks" Title="Remark" Size="12"></FormInputText>
            </div>
        </Form>
    </div>

    <div class="col-md-12 mt-2 d-flex">
        <div class="spacer"></div>
        <button @onclick="() => ModalInstance.CancelAsync()" class="btn btn-light me-2">CANCEL</button>
        <button @onclick="OK" class="btn btn-primary">UPDATE</button>
    </div>
</div>

@using Grpc.Core;

@using RFIDSolution.Shared.Models.Products

@inject DefineService shoeModelService
@inject HttpClient _httpClient
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public ProductModel item { get; set; }

    private List<ModelResponse> models = new List<ModelResponse>();

    protected override async Task OnInitializedAsync()
    {
        models = await shoeModelService.GetModels();
    }

    void OK()
    {
        ModalInstance.CloseAsync(ModalResult.Ok<bool>(true));
    }
}