<TableHeader>
    <HeaderContent>
        <button class="btn btn-light" @onclick="async () => { await loadData(); }"><span class="oi oi-reload mr-2 text-primary"></span>Refresh data</button>
    </HeaderContent>
    <FilterContent>
        <div class="row">
            <div class="col-md-4">
                <InputSearch TextChanged='async (text) => { keyword = text??""; await loadData(); }' PlaceHolder="Search SKU, EPC"></InputSearch>
            </div>
        </div>
    </FilterContent>
</TableHeader>

@if (loading)
{
    <Loading></Loading>
}
else
{
    <div class="m-2 bg-white">
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>EPC</th>
                        <th>SKU</th>
                        <th>STATUS</th>
                        <th>LOCATION</th>
                        <th>SEASON</th>
                        <th>STAGE</th>
                        <th>MODEL</th>
                        <th>DEV STYLE NUMBER</th>
                        <th>COLOR WAY</th>
                        <th>SIZE</th>
                        <th>CATEGORY</th>
                        <th>POC</th>
                        <th>REMARKS</th>
                    </tr>
                </thead>
                <tbody>
                    @if (products.Count > 0)
                    {
                        int count = 1;
                        @foreach (var item in products)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.EPC</td>
                                <td>@item.SKU</td>
                                <td>
                                    @item.ProductStatus.ToStringVN()
                                </td>
                                <td>@item.Location</td>
                                <td>@item.Season</td>
                                <td>@item.Stage</td>
                                <td>@item.ModelName</td>
                                <td>@item.DevStyleName</td>
                                <td>@item.ColorWay</td>
                                <td>@item.Size</td>
                                <td>@item.Category</td>
                                <td>@item.POC</td>
                                <td>@item.Remarks</td>
                            </tr>
                            count++;
                        }
                    }
                    else
                    {
                        <NoData></NoData>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
}

@using static RFIDSolution.Shared.Protos.ShoeModelProto
@using Grpc.Core;

@inject HttpClient _client
@inject ShoeModelProtoClient modelClient
@inject DialogService _dialog
@page "/products"
@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private bool loading = true;
    private bool addingItem = false;
    private string keyword = "";

    private ProductModel reply = new ProductModel();
    private List<ProductModel> products = new List<ProductModel>();

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Instance.PageTitle = "Products";
        await loadData();
    }

    private async Task addModel()
    {

    }

    private async Task editModel(ProductModel item)
    {

    }

    private async Task deleteModel(ProductModel item)
    {
        if (!await _dialog.Confirm("Are you sure you want to delete this shoe model?")) return;
    }

    private async Task loadData()
    {
        loading = true;
        //reply = await productService.GetAsync(filter);
        var rspns = await _client.GetFromJsonAsync<ResponseModel<PaginationResponse<ProductModel>>>($"products?keyword={keyword}&pageItem={10}&pageIndex={0}");
        if (rspns.IsSucceed)
        {
            products = rspns.Result.Data;
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
        loading = false;
    }
}
