<div class="card m-2 w-100">
    <div class="row">
        <div class="col-md-2">
            <div class="row h-100 align-items-center">
                <RFReaderConnect @ref="readerConnecter" AntennaId="1" Size="12" OnRead="OnTagRead"></RFReaderConnect>
            </div>
        </div>
        <div class="col-md-10 card card-body">
            <ul class="nav nav-tabs w-100 mb-2">
                <li class="nav-item p-0 hand" @onclick="() => isTransferIn = false">
                    <a class="nav-link text-danger @(isTransferIn? "" : "active")"><span class="oi oi-arrow-circle-right me-1"></span> TRANSFER OUT</a>
                </li>
                <li class="nav-item p-0 hand" @onclick="() => isTransferIn = true">
                    <a class="nav-link text-success @(isTransferIn? "active" : "")">
                        <span class="oi oi-arrow-circle-left me-1"></span>TRANSFER IN
                    </a>
                </li>
            </ul>
            @if (isTransferIn)
            {
                <h3 class="text-success" style="font-weight: bold">TRANSFER IN</h3>
                <!--Transfer in-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <FormInputText Title="Return by" @bind-Text="@transferInModel.RETURN_BY" Size="12" Required="true" InValidFeedBack="Please enter return user"></FormInputText>
                                    <div class="col-md-12">
                                        <label>Note</label>
                                        <textarea value="@transferInModel.RETURN_NOTE" @onchange="(e) => transferInModel.RETURN_NOTE = e.Value.ToString()" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-2 d-flex">
                                <button class="btn btn-success btn-lg me-4" @onclick="() => transferIn()"><span class="oi oi-arrow-circle-left me-1"></span> Transfer In</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h3 class="text-danger" style="font-weight: bold">TRANSFER OUT</h3>
                <!--Transfer out-->
                <Form OnValidSubmit="() => { }">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <FormInputText Title="Transfer reason" @bind-Text="@transferOutModel.TRANSFER_REASON" Required="true" Size="12" InValidFeedBack="Please enter transfer reason"></FormInputText>
                                <FormInputText Title="Transfer to" @bind-Text="@transferOutModel.TRANSFER_TO" Size="3"></FormInputText>
                                <FormInputText Title="Transfer by" @bind-Text="@transferOutModel.TRANSFER_BY" Required="true" Size="3" InValidFeedBack="Please enter transfer user"></FormInputText>
                                <FormInputText Title="Document no" @bind-Text="@transferOutModel.REF_DOC_NO" Size="3"></FormInputText>
                                <FormInputText Title="Document date" @bind-Text="@transferOutModel.REF_DOC_DATE" Size="3"></FormInputText>
                                <div>
                                    <label>Note</label>
                                    <textarea value="@transferOutModel.TRANSFER_NOTE" @onchange="(e) => transferOutModel.TRANSFER_NOTE = e.Value.ToString()" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="col-md-12 mt-2 d-flex">
                                    <button type="submit" class="btn btn-danger btn-lg" @onclick="async () => { await transferOut(); }"><span class="oi oi-arrow-circle-right me-1"></span> Transfer Out</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-none">
                            <label class="text-success">Reason list</label>
                            <div class="list-group w-100" style="max-height: 200px; overflow-y: auto; border: 1px solid gray">
                                @foreach (string reason in reasonsList)
                                {
                                    <button type="button" @onclick="() => { transferOutModel.TRANSFER_REASON = reason; }"
                                            class="list-group-item list-group-item-action @(transferOutModel.TRANSFER_REASON == reason? "active" : "")">
                                        @reason
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </Form>
            }
        </div>
    </div>
</div>

<div class="m-2">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h5 class="text-body m-0">SCAN RESULTS - Total: <span class="text-success">@products.Count</span></h5>
                    <div class="spacer"></div>
                    <button class="float-end btn btn-secondary" @onclick="() => { products.Clear(); }"><span class="oi oi-delete"></span> CLEAR SCAN RESULT</button>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>EPC</th>
                            <th>SKU</th>
                            <th>SHOE STATUS</th>
                            <th>MODEL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (products.Count > 0)
                        {
                            int count = 1;
                            @foreach (var item in products)
                            {
                                <tr class="hand @(item.WarningClass) @(sledProduct.ID == item.ID? "bg-info" : "")" @onclick="() => showProductDetail(item)">
                                    <td>@item.ID</td>
                                    <td>@item.EPC</td>
                                    <td>@item.SKU</td>
                                    <td>
                                        <ProductStatusBadge ProductStatus="@item.ProductStatus"></ProductStatusBadge>
                                    </td>
                                    <td>@item.ModelName</td>
                                    <td><span class="oi oi-delete text-danger" title="Remove item" @onclick="() => deleteScanItem(item)"></span></td>
                                </tr>
                                count++;
                            }
                        }
                        else
                        {
                            <NoData></NoData>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-6 ps-0">
            <div class="card">
                <div class="card-header d-none">
                    <h4 class="m-0">SHOE DETAIL</h4>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs w-100 mb-2">
                        <li class="nav-item p-0 hand" @onclick="() => shoeTabActive = 0">
                            <a class="nav-link text-primary @(shoeTabActive == 0? "active" : "")">SHOE INFO</a>
                        </li>
                        <li class="nav-item p-0 hand" @onclick="() => shoeTabActive = 1">
                            <a class="nav-link text-primary @(shoeTabActive == 1? "active" : "")">
                                TAG INFO
                            </a>
                        </li>
                        @if (sledProduct.ProductStatus == ProductStatus.Transfered)
                        {
                            <li class="nav-item p-0 hand" @onclick="() => shoeTabActive = 2">
                                <a class="nav-link text-primary @(shoeTabActive == 2? "active" : "")">
                                    TRANSFER OUT INFO
                                </a>
                            </li>
                        }
                    </ul>
                    @if (sledProduct.ID == 0)
                    {
                        <p class="text-center p-4">Select a shoe to view detail information!</p>
                    }
                    else
                    {
                        //Thông tin giày
                        @if (shoeTabActive == 0)
                        {
                            <div class="row">
                                <!--Thông tin giầy-->
                                <div class="col-md-6">
                                    <ListItem Title="EPC" Bordered="false">@sledProduct.EPC</ListItem>
                                    <ListItem Title="SKU" Bordered="false">@sledProduct.SKU</ListItem>
                                    <ListItem Title="Model" Bordered="false">@sledProduct.SKU</ListItem>
                                    <ListItem Title="Shoe status" Bordered="false">
                                        <span class="@sledProduct.StatusColor">
                                            @sledProduct.ProductStatus.GetDescription()
                                        </span>
                                    </ListItem>
                                    <ListItem Title="L/R" Bordered="false">
                                        @sledProduct.LR.GetDescription()
                                    </ListItem>
                                    <ListItem Title="Location" Bordered="false">@sledProduct.LR.GetDescription()</ListItem>
                                    <ListItem Title="Season" Bordered="false">@sledProduct.Location</ListItem>
                                </div>
                                <div class="col-md-6">
                                    <ListItem Title="Stage" Bordered="false">@sledProduct.Season</ListItem>
                                    <ListItem Title="Dev style number" Bordered="false">@sledProduct.Season</ListItem>
                                    <ListItem Title="Color way" Bordered="false">@sledProduct.Stage</ListItem>
                                    <ListItem Title="Size" Bordered="false">@sledProduct.Season</ListItem>
                                    <ListItem Title="Category" Bordered="false">@sledProduct.ColorWay</ListItem>
                                    <ListItem Title="POC" Bordered="false">@sledProduct.Category</ListItem>
                                    <ListItem Title="Remarks" Bordered="false">@sledProduct.Size</ListItem>
                                </div>
                                <!--Ghi chú-->
                                <div class="col-md-12">
                                    <div>
                                        <label>Note</label>
                                        <textarea value="@sledProduct.Note" @onchange="(e) => sledProduct.Note = e.Value.ToString()" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        }
                        //Thông tin tag
                        else if (shoeTabActive == 1)
                        {
                            <!--Thông tin tín hiệu tag-->
                            <div class="row">
                                <!--Thông tin tín hiệu tag-->
                                <div class="col-md-12">
                                    <div class="row">
                                        <ListItem Title="Tag status" Bordered="false">
                                            @if (sledProduct.TagResponse.Status == 1)
                                            {
                                                <span class="badge bg-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Away</span>
                                            }
                                        </ListItem>
                                        <ListItem Title="Last seen" Bordered="false">@sledProduct.TagResponse.LastSeen.ToTimeString()</ListItem>
                                        <ListItem Title="RSSI" Bordered="false">@sledProduct.TagResponse.RSSI</ListItem>
                                        <ListItem Title="Signal strenght" Bordered="false">
                                            <SignalStrenghtBar Strenght="sledProduct.TagResponse.SignalStrenght"></SignalStrenghtBar>
                                        </ListItem>
                                    </div>
                                </div>
                            </div>
                        }
                        //Thông tin transfer
                        else if (shoeTabActive == 2)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <ListItem Title="Transfer reason" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.TRANSFER_REASON</ListItem>
                                    <ListItem Title="Transfer to" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.TRANSFER_TO</ListItem>
                                    <ListItem Title="Transfer by" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.TRANSFER_BY</ListItem>
                                    <ListItem Title="Transfer date" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.TIME_START.ToVNString()</ListItem>
                                    <ListItem Title="Time ago" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.TIME_START.TimeAgo()</ListItem>
                                </div>
                                <div class="col-md-6">
                                    <ListItem Title="Document no" Bordered="false">@productTransferInfo.REF_DOC_NO</ListItem>
                                    <ListItem Title="Document date" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.REF_DOC_DATE</ListItem>
                                    <ListItem Title="Note" AlignItem="Alignment.Left" Bordered="false">@productTransferInfo.TRANSFER_NOTE</ListItem>
                                </div>
                                <div class="col-md-12">
                                    <label>All shoe transfered</label>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>EPC</th>
                                                <th>SKU</th>
                                                <th>MODEL</th>
                                                <th>STATUS</th>
                                                <th>TRANSFER NOTE</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (productTransferInfo.Products.Count > 0)
                                            {
                                                int count = 1;
                                                @foreach (var item in productTransferInfo.Products)
                                                {
                                                    <tr class="hand">
                                                        <td>@item.EPC</td>
                                                        <td>@item.SKU</td>
                                                        <td>@item.ModelName</td>
                                                        <td>
                                                            <span class="@item.statusClass">
                                                                @item.STATUS.GetDescription()
                                                            </span>
                                                        </td>
                                                        <td>@item.TRANSFER_NOTE</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                            else
                                            {
                                                <NoData></NoData>
                                            }
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@using Grpc.Core;
@using RFIDSolution.Shared.Models.ProductInout;

@inject DialogService _dialog
@inject HttpClient _client
@inject DialogService _dialog
@implements IDisposable
@page "/transfer"
@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private RFReaderConnect readerConnecter = new RFReaderConnect();
    private bool reading = false;
    private string baseUrl = "ProductTransfers";

    private List<RFTagResponse> Tags = new List<RFTagResponse>();
    private TransferInoutModel transferOutModel = new TransferInoutModel();
    private TransferInoutModel transferInModel = new TransferInoutModel();
    private TransferInoutModel productTransferInfo = new TransferInoutModel();

    private bool isTransferIn { get; set; } = false;
    private int shoeTabActive { get; set; } = 0;

    private bool loading = true;
    private bool addingItem = false;
    private string keyword = "";

    private ProductModel sledProduct = new ProductModel();
    private List<ProductModel> products = new List<ProductModel>();
    private List<string> reasonsList = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Instance.PageTitle = "Transfer shoe";
        await getReasonList();
    }

    private async Task showProductDetail(ProductModel product)
    {
        if (product.ID == 0) return;

        if (sledProduct.ID == product.ID)
        {
            sledProduct = new ProductModel();
        }
        else
        {
            sledProduct = product;
        }

        //Nếu giày đang được mượn thì show thêm thông tin transfer out
        if (sledProduct.ProductStatus == ProductStatus.Transfered)
        {
            var findResult = await findTransferInformation(product.ID);
            if (findResult != null)
            {
                productTransferInfo = findResult;
            }
        }
    }

    private void deleteScanItem(ProductModel item)
    {
        products.Remove(item);
        if (item.ID == sledProduct.ID) sledProduct = new ProductModel();
    }

    private async Task transferOut()
    {
        //Yêu cầu mật khẩu xác nhận
        //Để sau

        //Kiểm tra số lượng giày đã scan
        if (products.Count <= 0)
        {
            await _dialog.ErrorAlert("Please scan at least one shoe!");
            return;
        }

        if(products.Any(x => x.ProductStatus == ProductStatus.Unknown))
        {
            await _dialog.ErrorAlert("Please remove all Unknown tag first!");
            return;
        }

        //Kiểm tra trạng thái của những giày đã scan, nếu có giày đang được mượn thì không cho transfer
        var notAvaiableShoes = products.Where(x => x.ProductStatus == ProductStatus.Transfered || x.ProductStatus == ProductStatus.Unavailable);
        foreach (var item in notAvaiableShoes)
        {
            item.IsWarning = true;
        }
        if (notAvaiableShoes.Count() > 0)
        {
            await _dialog.ErrorAlert("One or more shoe is already transfered out, please remove them and try again!");
            return;
        }

        //Xác nhận xuất
        if (!await _dialog.Confirm($"Are you sure want to transfer {products.Count} shoe(s) out?")) return;

        //Request server
        var requestModel = new TransferOutRequest(transferOutModel);
        requestModel.Products = products.Select(x => new ProductTransferRequest(x)).ToList();
        var req = await _client.PostAsJsonAsync<TransferOutRequest>($"{baseUrl}/transferOut", requestModel);
        var rspns = await req.Content.ReadFromJsonAsync<ResponseModel<object>>();
        if (rspns.IsSucceed)
        {
            await _dialog.SuccessAlert("Transfer out succeed!");
            products = new List<ProductModel>();
            transferOutModel = new TransferInoutModel();
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
    }

    private async Task transferIn()
    {
        //Yêu cầu mật khẩu xác nhận
        //Để sau

        //Kiểm tra số lượng giày đã scan
        if (products.Count <= 0)
        {
            await _dialog.ErrorAlert("Please scan at least one shoe!");
            return;
        }

        if (products.Any(x => x.ProductStatus == ProductStatus.Unknown))
        {
            await _dialog.ErrorAlert("Please remove all Unknown tag first!");
            return;
        }

        //Kiểm tra trạng thái của những giày đã scan, nếu có giày chưa được mượn thì không cho transfer
        var notAvaiableShoes = products.Where(x => x.ProductStatus == ProductStatus.Available);
        foreach (var item in notAvaiableShoes)
        {
            item.IsWarning = true;
        }
        if (notAvaiableShoes.Count() > 0)
        {
            await _dialog.ErrorAlert("One or more shoe is not yet transfered out, please remove them and try again!");
            return;
        }

        //Xác nhận xuất
        if (!await _dialog.Confirm($"Are you sure want to transfer {products.Count} shoe(s) in?")) return;

        //Request server
        var requestModel = new TransferInRequest(transferInModel, products);
        var req = await _client.PostAsJsonAsync<TransferInRequest>($"{baseUrl}/transferIn", requestModel);
        var rspns = await req.Content.ReadFromJsonAsync<ResponseModel<object>>();
        if (rspns.IsSucceed)
        {
            await _dialog.SuccessAlert("Transfer out succeed!");
            products = new List<ProductModel>();
            transferInModel = new TransferInoutModel();
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
    }

    private async Task OnTagRead(RFTagResponse tag)
    {
        Console.WriteLine("Tag read");
        tag.Status = 1;
        var product = products.FirstOrDefault(x => x.EPC == tag.EPCID);

        if (product == null)
        {
            var searchProduct = await findProductByEPC(tag.EPCID.Trim());
            if(searchProduct != null)
            {
                product = searchProduct;

                tag.FirstSeen = DateTime.Now.Ticks;
                product.TagResponse = tag;
                products.Add(product);

                //Nếu chưa chọn product nào thì tự động chọn product đầu tiên scan được
                if (sledProduct.ID == 0)
                {
                    await showProductDetail(product);
                }
            }
            //Nếu không tìm thấy giày thì show dòng tag bị lỗi
            else
            {
                product = new ProductModel();
                product.EPC = tag.EPCID;
                product.TagResponse = tag;
                product.SKU = "";
                product.ProductStatus = ProductStatus.Unknown;
                product.ModelName = "";
                products.Add(product);
            }
        }
        else
        {
            product.TagResponse = tag;
        }

        var awayProducts = new List<ProductModel>();
        foreach (var item in products)
        {
            var readTag = item.TagResponse;
            DateTime lastSeen = readTag.LastSeen.ToDateTime();
            //Nếu tag đã không được đọc trong 3 giây thì coi như đã đi ra khỏi vùng phủ sóng
            if ((DateTime.Now - lastSeen).TotalSeconds >= 3)
            {
                readTag.Status = 2;
                readTag.RSSI = 0;
                awayProducts.Add(item);
                //Nếu item đang show chi tiết đã ra ngoài vùng phủ sóng thì không show nữa
                if (item.ID == sledProduct.ID) sledProduct = new ProductModel();
            }
        }

        //xóa những tag đã ra khỏi vùng phủ sóng
        foreach (var item in awayProducts)
        {
            products.Remove(item);
        }
        //products = products.Where(x => x.TagResponse.Status != 2).ToList();
        //StateHasChanged();
    }

    private async Task getReasonList()
    {
        var rspns = await _client.GetFromJsonAsync<ResponseModel<List<string>>>($"{baseUrl}/reasons");
        if (rspns.IsSucceed)
        {
            reasonsList = rspns.Result;
            StateHasChanged();
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
    }

    private async Task<ProductModel> findProductByEPC(string EPC)
    {
        ProductModel product = new ProductModel();
        var rspns = await _client.GetFromJsonAsync<ResponseModel<ProductModel>>("products/byepc?epc=" + EPC);
        if (rspns.IsSucceed)
        {
            product = rspns.Result;
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
        return product;
    }

    private async Task<TransferInoutModel> findTransferInformation(int productId)
    {
        var rspns = await _client.GetFromJsonAsync<ResponseModel<TransferInoutModel>>($"{baseUrl}/byProductId/{productId}");
        if (rspns.IsSucceed)
        {
            return rspns.Result;
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
            return new TransferInoutModel();
        }
    }

    async void IDisposable.Dispose()
    {
        //Console.WriteLine("Compoent disposed");
        await readerConnecter.stopReader();
    }
}
