<div class="card m-2 w-100">
    <div class="card-body">
        <div class="row">
            <RFReaderConnect Size="2" OnRead="OnTagRead" AntennaId="@AntenaId" @ref="rfReaderConnect"></RFReaderConnect>
            <div class="col-md-10">
                <Form OnValidSubmit="async () => { await addProduct(); }">
                    <FormInputSearch Text="@newProduct.SKU" Size="4" Title="SKU" TextChanged="async (e) => { newProduct.SKU = e; await searchSKU(); }"></FormInputSearch>
                    <FormInputText @bind-Text="newProduct.Location" Title="Location" Size="2" Required="true" InValidFeedBack="Please provide a valid location."></FormInputText>
                    <FormInputText @bind-Text="newProduct.Season" Title="Season" Size="2" Required="true" InValidFeedBack="Please provide a valid season."></FormInputText>
                    <FormInputText @bind-Text="newProduct.Stage" Title="Stage" Size="2" Required="true" InValidFeedBack="Please provide a valid stage."></FormInputText>

                    <div class="col-md-2">
                        <label for="slt-lr" class="form-label m-0">Left/Right <Required></Required></label>
                        <InputSelect class="form-select form-select-sm" id="slt-lr" required @bind-Value="newProduct.LR">
                            <option value="@(ProductSide.Left)">Left</option>
                            <option value="@(ProductSide.Right)">Right</option>
                        </InputSelect>
                        <span class="text-danger">
                            <!--Nếu chọn lại side cũ mà vẫn là SKU cũ thì cảnh báo-->
                            @if (curentSide == newProduct.LR && currentSKU.Equals(newProduct.SKU))
                            {
                                <span>A @newProduct.LR.GetDescription() shoe with SKU @newProduct.SKU is already exist!</span>
                            }
                        </span>
                        <div class="invalid-feedback">
                            Please select a side.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <SelectSearch @bind-Value="@newProduct.ModelId" Title="Model" InvalidFeedBack="@("Please select a valid model")"
                                      PlaceHolder="Choose model" Items="models" Requried="true" TItem="ModelResponse" TValue="int">
                            <ItemTemplate>
                                <option value="@context.MODEL_ID">@context.MODEL_NAME</option>
                            </ItemTemplate>
                        </SelectSearch>
                    </div>

                    <FormInputText @bind-Text="@newProduct.DevStyleName" Title="Dev style number" Size="4" Required="true" InValidFeedBack="Please provide a valid dev style number."></FormInputText>
                    <FormInputText @bind-Text="@newProduct.ColorWay" Title="Color way" Size="2" Required="true" InValidFeedBack="Please provide a valid color way."></FormInputText>
                    <FormInputText @bind-Text="@newProduct.Size" Title="Size" Size="2" Required="true" InValidFeedBack="Please provide a valid size."></FormInputText>

                    <div class="col-md-4">
                        <SelectSearch @bind-Value="@newProduct.CategoryId" Title="Category" InvalidFeedBack="@("Please select a valid category")"
                                      PlaceHolder="Choose category" Items="categories" Requried="true" TItem="CategoryResponse" TValue="int?">
                           <ItemTemplate>
                               <option value="@context.CAT_ID">@context.CAT_NAME</option>
                           </ItemTemplate>
                        </SelectSearch>
                    </div>
                    <FormInputText @bind-Text="@newProduct.RefDocNo" Title="Document no" Size="2" InValidFeedBack="Please provide a valid category."></FormInputText>
                    <FormInputText @bind-Text="@newProduct.RefDocDate" Title="Document date" Size="2" InValidFeedBack="Please provide a valid category."></FormInputText>
                    <FormInputText @bind-Text="@newProduct.POC" Title="POC" Size="4" Required="true" InValidFeedBack="Please provide a valid POC."></FormInputText>

                    <div class="col-md-12 mb-1">
                        <label for="ipt-cat" class="form-label m-0">Remarks</label>
                        <InputTextArea @bind-Value="newProduct.Remarks" type="text" class="form-control" id="ipt-cat" rows="2"></InputTextArea>
                    </div>

                    <div class="col-12 d-flex mt-2">
                        <button class="btn btn-success me-2" type="submit"><span class="oi oi-cloud-upload"></span>SAVE</button>
                        <button class="btn btn-secondary me-2" type="reset" @onclick="() => { newProduct = new ProductModel(); curentSide = 0; }"><span class="oi oi-delete"></span>CLEAR</button>
                    </div>
                </Form>
            </div>
        </div>
    </div>
</div>

<div class="card m-2 bg-white">
    <div class="card-header d-flex align-items-center">
        <h5 class="text-body m-0">SCAN RESULTS - Total: <span class="text-success">@Tags.Count</span></h5>
        <div class="spacer"></div>
        <button class="float-end btn btn-secondary" @onclick="() => { Tags.Clear(); }"><span class="oi oi-delete"></span> CLEAR SCAN RESULT</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>EPC</th>
                <th>STATUS</th>
                <th>READ COUNT</th>
                <th>FIRST SEEN</th>
                <th>LAST SEEN</th>
                @*<th>SIGNAL STRENGHT</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Tags.Count > 0)
            {
                int count = 1;
                @foreach (var item in Tags)
                {
                    <SelectableRow @bind-Selected="item.IsSelected" OnClick="() => rowClicked(item)">
                        @{
                            int index = count;
                        }
                        <MyTd>@(index)</MyTd>
                        <MyTd>@item.EPCID</MyTd>
                        <MyTd>
                            @if (item.Status == 1)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Away</span>
                            }
                        </MyTd>
                        <MyTd>@item.Count</MyTd>
                        <MyTd>@item.FirstSeen.ToTimeString()</MyTd>
                        <MyTd>@item.LastSeen.ToTimeString()</MyTd>
                        @*<MyTd>
                                <SignalStrenghtBar Strenght="item.SignalStrenght"></SignalStrenghtBar>
                            </MyTd>*@
                        <MyTd><button class="btn btn-icon p-0" title="Delete" @onclick="() => { Tags.Remove(item); }"><span class="oi oi-delete"></span></button></MyTd>
                    </SelectableRow>
                    count++;
                }
            }
            else
            {
                <tr>
                    <td colspan="10000" class="text-center" style="padding: 60px 80px"><h3>Press "START/STOP" to start scan</h3></td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

@inject DialogService _dialog
@inject HttpClient _httpClient
@attribute [Authorize]
@implements IDisposable
@inject DefineService shoeModelService
@using RFIDSolution.Shared.Models.Products;
@page "/mappingproduct"
@code{
    private ConfigurationModel config = new ConfigurationModel();

    private string test = "";
    private bool reading = false;

    private int AntenaId = 1;
    private ProductSide curentSide = 0;
    private string currentSKU = "";

    private List<AntenaModel> antenas = new List<AntenaModel>();

    private List<RFTagResponse> Tags = new List<RFTagResponse>();
    private List<ModelResponse> models = new List<ModelResponse>();
    private List<CategoryResponse> categories = new List<CategoryResponse>();

    private ProductModel newProduct = new ProductModel();

    private RFReaderConnect rfReaderConnect = new RFReaderConnect();

    private void rowClicked(RFTagResponse tagResponse)
    {
        foreach (var tag in Tags)
        {
            if (tagResponse.EPCID == tag.EPCID)
            {
                tag.IsSelected = true;
            }
            else
            {
                tag.IsSelected = false;
            }
        }
    }

    private async Task searchSKU()
    {
        if (string.IsNullOrEmpty(newProduct.SKU)) return;
        var rspns = await _httpClient.GetFromJsonAsync<ResponseModel<ProductModel>>("products/bySKU?SKU=" + newProduct.SKU);
        if (rspns.IsSuccess)
        {
            newProduct = new ProductModel()
            {
                SKU = newProduct.SKU
            };
            newProduct = rspns.Result;

            //Lưu lại side giầy tìm được
            curentSide = newProduct.LR;
            currentSKU = newProduct.SKU;

            //Tự động đổi lại side
            if (newProduct.LR == ProductSide.Left)
            {
                newProduct.LR = ProductSide.Right;
            }
            else
            {
                newProduct.LR = ProductSide.Left;
            }
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
    }

    private async Task addProduct()
    {
        if (Tags.Count == 0)
        {
            await _dialog.ErrorAlert("Please scan at least one shoe!");
            return;
        }

        if (Tags.Count == 0)
        {
            await _dialog.ErrorAlert("Please scan at least one shoe!");
            return;
        }

        var selectedTag = Tags.FirstOrDefault(x => x.IsSelected);
        if (selectedTag == null)
        {
            if (Tags.Count == 1)
            {
                selectedTag = Tags.FirstOrDefault();
            }
            else
            {
                await _dialog.ErrorAlert("Please select at least one shoe!");
                return;
            }
        }

        if (!await _dialog.Confirm($"Are you sure want to mapping selected tag?")) return;
        newProduct.EPC = selectedTag.EPCID;

        var req = await _httpClient.PostAsJsonAsync<ProductModel>("products", newProduct);
        var rspns = await req.Content.ReadFromJsonAsync<ResponseModel<bool>>();
        if (rspns.IsSuccess)
        {
            await _dialog.SuccessAlert("Tag mapping succeed!");

            newProduct = new ProductModel();
            curentSide = 0;
            Tags.Clear();
            StateHasChanged();
        }
        else
        {
            await _dialog.AlertModal(rspns.Message);
        }
    }

    private void OnTagRead(RFTagResponse tag)
    {
        _ = Task.Run(() =>
        {
            tag.Status = 1;
            var item = Tags.FirstOrDefault(x => x.EPCID == tag.EPCID);
            if (item == null)
            {
                tag.FirstSeen = DateTime.Now.Ticks;
                Tags.Add(tag);
            }
            else
            {
                item.Status = 1;
                item.LastSeen = tag.LastSeen;
                item.Count++;
                item.RSSI = tag.RSSI;
                item.SignalStrenght = tag.SignalStrenght;
                item.AntennaID = tag.AntennaID;
            }

            foreach (var readTag in Tags)
            {
                DateTime lastSeen = readTag.LastSeen.ToDateTime();
                //Nếu tag đã không được đọc trong TAG_TIME_OUT giây thì coi như đã đi ra khỏi vùng phủ sóng
                if ((DateTime.Now - lastSeen).TotalSeconds >= config.TAG_TIME_OUT)
                {
                    readTag.Status = 2;
                    readTag.RSSI = 0;
                    Tags.Remove(readTag);
                }
                else
                {
                    readTag.Status = 1;
                }
            }
        });
        //StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        MainLayout.Instance.PageTitle = "Mapping tag";
        models = await shoeModelService.GetModels();
        categories = await shoeModelService.GetCategories();

        newProduct.ModelId = models.FirstOrDefault().MODEL_ID;
        newProduct.CategoryId = categories.FirstOrDefault().CAT_ID;

        await loadConfig();
        await loadAntenas();
        StateHasChanged();
    }

    public async Task loadAntenas()
    {
        var rspns = await _httpClient.GetFromJsonAsync<ResponseModel<List<AntenaModel>>>($"Antennas");
        if (rspns.IsSuccess)
        {
            antenas = rspns.Result;
            AntenaId = antenas.FirstOrDefault(x => x.LOCATION == AntennaLocation.Table)?.ANTENNA_ID ?? 0;
            Console.WriteLine(AntenaId);
        }
        else
        {
            await _dialog.SuccessAlert(rspns.Message);
        }
    }

    private async Task loadConfig()
    {
        var rspns = await _httpClient.GetFromJsonAsync<ResponseModel<ConfigurationModel>>("config");
        if (rspns.IsSuccess)
        {
            config = rspns.Result;
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
    }

    async void IDisposable.Dispose()
    {
        await rfReaderConnect.stopReader();
    }
}