<TableHeader>
    <HeaderContent>
        <button class="btn btn-light me-2" @onclick="async () => { await downLoadReport(); }"><span class="oi oi-cloud-download text-success"></span>Export to excel file</button>

        <button class="btn btn-light" @onclick="async () => { await loadData(); }"><span class="oi oi-reload text-primary"></span>Refresh data</button>
    </HeaderContent>
    <FilterContent>
        <div class="d-flex">
            <DateRangePicker DateRange="dateRange" OnDateChanged="async (e) => { dateRange = e; await loadData(); }" />
        </div>
    </FilterContent>
</TableHeader>

@if (loading)
{
    <Loading></Loading>
}
else
{
    <div class="m-2 bg-white">
        <div class="p-4">
            <h3 class="m-0 text-center text-bold" style="font-family: 'Times New Roman'">
                BÁO CÁO KIỂM KHO/INVENTORY REPORT
            </h3>

            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <label class="col-md-2">Kho/Stock </label>
                            <p class="m-0">Hàng mẫu</p>
                        </div>
                        <div class="d-flex">
                            <label class="col-md-2">Thời gian/Date</label>
                            <p class="m-0">@dateRange.Start.ToShortVNString() - @dateRange.End.ToShortVNString()</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-column">
                        <label>Ngày giờ lập báo báo/Time</label>
                        <p>@DateTime.Now.ToVNString()</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PLAN NAME</th>
                        <th>CREATE TIME</th>
                        <th>CREATE BY</th>
                        <th>NUM OF SYSTEM</th>
                        <th>NUM OF CHECK</th>
                        <th>STATUS</th>
                        <th>COMPLETE BY</th>
                        <th>COMPLETE TIME</th>
                        <th>REMARKS</th>
                    </tr>
                </thead>
                <tbody>
                    @if (products.Count > 0)
                    {
                        int count = 1;
                        @foreach (var item in products)
                        {
                            <tr>
                                <MyTd>@item.INVENTORY_ID</MyTd>
                                <MyTd>@item.INVENTORY_NAME</MyTd>
                                <MyTd>@item.CREATED_DATE</MyTd>
                                <MyTd>@item.CREATED_USER</MyTd>
                                <MyTd>@item.TOTAL</MyTd>
                                <MyTd>@item.TOTAL_FOUND</MyTd>
                                <MyTd>@item.INVENTORY_STATUS</MyTd>
                                <MyTd>@item.COMPLETE_USER</MyTd>
                                <MyTd>@item.COMPLETE_DATE</MyTd>
                                <MyTd>@item.NOTE</MyTd>
                            </tr>
                            count++;
                        }
                    }
                    else
                    {
                        <NoData></NoData>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1000">
                            <Pagination TableState="tableState" TotalPageDisplay="5" StateChanged="async () => await loadData()"></Pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}

@attribute [Authorize]
@using RFIDSolution.Shared.Models.Inventory
@inject HttpClient _client
@inject DialogService _dialog
@inject JsService js
@page "/report/inventory"
@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private bool loading = true;
    private bool addingItem = false;
    private string keyword = "";
    private int shoeStatus = 0;
    private int activeTab = 0;

    private TableState tableState = new TableState(20);

    private InventoryModel reply = new InventoryModel();
    private List<InventoryModel> products = new List<InventoryModel>();
    private DateRange dateRange = new DateRange(DateTime.Now.Month);

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Instance.PageTitle = "Inventory report";
        await loadData();
    }

    private async Task downLoadReport()
    {
        string url = $"inventoryreport?fromDate={dateRange.Start.ToVNString()}&toDate={dateRange.End.ToVNString()}";
        await js.DownLoadFile(url);
    }

    private async Task loadData()
    {
        loading = true;
        //reply = await productService.GetAsync(filter);
        var rspns = await _client.GetFromJsonAsync<ResponseModel<PaginationResponse<InventoryModel>>>($"reports/inventoryreportdata?fromDate={dateRange.Start.ToShortVNString()}&toDate={dateRange.End.ToShortVNString()}&pageItem={tableState.PageItem}&pageIndex={tableState.PageIndex}");
        if (rspns.IsSuccess)
        {
            products = rspns.Result.Data;
            tableState.TotalRow = rspns.Result.TotalRow;
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
        loading = false;
    }
}
