<TableHeader>
    <HeaderContent>
        <button class="btn btn-light" @onclick="async () => { await loadData(); }"><span class="oi oi-reload mr-2 text-primary"></span>Refresh data</button>
    </HeaderContent>
    <FilterContent>
        <div class="row">
            <div class="col-md-4">
                <InputSearch TextChanged='async (text) => { keyword = text??""; await loadData(); }' PlaceHolder="Search SKU, EPC"></InputSearch>
            </div>
        </div>
    </FilterContent>
</TableHeader>

@if (loading)
{
    <Loading></Loading>
}
else
{
    <div class="m-2 bg-white">
        <div> 
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>TRANSFER DATE</th>
                        <th>TRANSFER REASON</th>
                        <th>TRANSFER TO</th>
                        <th>TRANSFER BY</th>
                        <th>STATUS</th>
                        <th>RETURN DATE</th>
                        <th>RETURN BY</th>
                        <th>DOCUMENT NO</th>
                        <th>DOCUMENT DATE</th>
                        <th>NOTE</th>
                    </tr>
                </thead>
                <tbody>
                    @if (transfers.Count > 0)
                    {
                        int count = 1;
                        @foreach (var item in transfers)
                        {
                            <SelectableRow @bind-Selected="item.showDetail" OnClick="async () => { await loadItemDetail(item); }">
                                <MyTd>@item.TRANSFER_ID</MyTd>
                                <MyTd>@item.TIME_START.ToVNString()</MyTd>
                                <MyTd>@item.TRANSFER_REASON</MyTd>
                                <MyTd>@item.TRANSFER_TO</MyTd>
                                <MyTd>@item.TRANSFER_BY</MyTd>
                                <MyTd>
                                    <TransferStatusBadge Status="item.TRANSFER_STATUS"></TransferStatusBadge>
                                </MyTd>
                                <MyTd>@item.TIME_END</MyTd>
                                <MyTd>@item.RETURN_BY</MyTd>
                                <MyTd>@item.REF_DOC_NO</MyTd>
                                <MyTd>@item.REF_DOC_DATE</MyTd>
                                <MyTd>@item.NOTE</MyTd>
                            </SelectableRow>
                            <TableRowDetail Show="item.showDetail">
                                <div class="card">
                                    <!--Hiển thị thông tin mượn trả và danh sách giầy đã mượn trả-->
                                    <div class="card-body">
                                        <div class="row">
                                            <!--Thông tin mượn trả-->
                                            <div class="col-md-3">
                                                <ListItem Title="Transfer reason" Bordered="false" LeftToRight="false">@item.TRANSFER_REASON</ListItem>
                                                <ListItem Title="Transfer date" Bordered="false" LeftToRight="false">@item.TIME_START</ListItem>
                                                <ListItem Title="Time ago" Bordered="false" LeftToRight="false">@item.TIME_START.TimeAgo()</ListItem>
                                                <ListItem Title="Transfer to" Bordered="false" LeftToRight="false">@item.TRANSFER_TO</ListItem>
                                                <ListItem Title="Transfer by" Bordered="false" LeftToRight="false">@item.TRANSFER_BY</ListItem>
                                                <ListItem Title="Status" Bordered="false" LeftToRight="false"><TransferStatusBadge Status="item.TRANSFER_STATUS"></TransferStatusBadge></ListItem>
                                                <ListItem Title="Document No" Bordered="false" LeftToRight="false">@item.REF_DOC_NO</ListItem>
                                                <ListItem Title="Document date" Bordered="false" LeftToRight="false">@item.REF_DOC_DATE</ListItem>
                                                <ListItem Title="Transfer note" Bordered="false" LeftToRight="false">@item.TRANSFER_NOTE</ListItem>
                                            </div>

                                            <div class="col-md-3">
                                                <ListItem Title="Return date" Bordered="false" LeftToRight="false">@item.TIME_END</ListItem>
                                                <ListItem Title="Return by" Bordered="false" LeftToRight="false">@item.RETURN_BY</ListItem>
                                                <ListItem Title="Total time"  Bordered="false" LeftToRight="false">@item.totalTransferTime</ListItem>
                                                <ListItem Title="Return note" Bordered="false" LeftToRight="false">@item.RETURN_NOTE</ListItem>
                                            </div>

                                            <!--Thông tin giày đã mượn/trả-->
                                            <div class="col-md-6">
                                                <label>All shoe transfered</label>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>EPC</th>
                                                            <th>SKU</th>
                                                            <th>MODEL</th>
                                                            <th>STATUS</th>
                                                            <th>TRANSFER NOTE</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (item.Products.Count > 0)
                                                        {
                                                            int count = 1;
                                                            @foreach (var item in item.Products)
                                                            {
                                                                <tr class="hand">
                                                                    <td>@item.EPC</td>
                                                                    <td>@item.SKU</td>
                                                                    <td>@item.ModelName</td>
                                                                    <td>
                                                                        <span class="@item.statusClass">
                                                                            @item.STATUS.GetDescription()
                                                                        </span>
                                                                    </td>
                                                                    <td>@item.TRANSFER_NOTE</td>
                                                                </tr>
                                                                count++;
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <NoData></NoData>
                                                        }
                                                    </tbody>
                                                    <tfoot></tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </TableRowDetail>
                            count++;
                        }
                    }
                    else
                    {
                        <NoData></NoData>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
}

@using static RFIDSolution.Shared.Protos.ShoeModelProto
@using Grpc.Core;

@inject HttpClient _client
@inject ShoeModelProtoClient modelClient
@inject DialogService _dialog
@page "/transferhistory"
@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private bool loading = true;
    private bool addingItem = false;
    private string keyword = "";
    private string baseUrl = "ProductTransfers";

    private List<TransferInoutModel> transfers = new List<TransferInoutModel>();

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Instance.PageTitle = "Transfer history";
        await loadData();
    }

    private async Task loadItemDetail(TransferInoutModel item)
    {
        //reply = await productService.GetAsync(filter);
        if (!item.showDetail) return;
        Console.WriteLine("loading detail");
        var rspns = await _client.GetFromJsonAsync<ResponseModel<TransferInoutModel>>($"{baseUrl}/{item.TRANSFER_ID}");
        if (rspns.IsSucceed)
        {
            item.Products = rspns.Result.Products;
            StateHasChanged();
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
    }

    private async Task loadData()
    {
        loading = true;
        //reply = await productService.GetAsync(filter);
        var rspns = await _client.GetFromJsonAsync<ResponseModel<PaginationResponse<TransferInoutModel>>>($"{baseUrl}?keyword={keyword}&pageItem={10}&pageIndex={0}");
        if (rspns.IsSucceed)
        {
            transfers = rspns.Result.Data;
        }
        else
        {
            await _dialog.ErrorAlert(rspns.Message);
        }
        loading = false;
    }
}
